@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #FAEBD7;
}

#column-2 {
  background: #FFEBCD;
}

#column-3 {
  background: #8A2BE2;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color:00FFFF ;
  }

  #column-1 {
    background-color:00008B ;
    width: 50% ;
  }

  #column-2 {
    background-color:B8860B ;
    width: 50% ;
  }

  #column-3 {
    background-color:A9A9A9 ;
    width: 50% ;
  }

  footer {
    background-color:FAEBD7 ;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color:FF8C00 ;
  }

  #column-1 {
    background-color:8B0000 ;
    width: one-third ;
  }

  #column-2 {
    background-color:9932CC ;
    width: one-third ;
  }

  #column-3 {
    background-color:006400 ;
    width :one-third ;
  }

  footer {
    background-color:8A2BE2 ;
  }

}
